/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Strawberry';
    src: url('polices/Strawberry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
	font-family: 'cac_champagneregular';
    src: url('polices/cacchampagne_regular_macroman/cac_champagne-webfont.eot');
    src: url('polices/cacchampagne_regular_macroman/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/cacchampagne_regular_macroman/cac_champagne-webfont.woff') format('woff'),
         url('polices/cacchampagne_regular_macroman/cac_champagne-webfont.ttf') format('truetype'),
         url('polices/cacchampagne_regular_macroman/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
	font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('images/fond_jaune.png');
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#bloc_page
{
    width: 70%;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    background: url('images/separateur.png') repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
	width: 30%;
    height: 10%;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
	width: 20%;
	border-radius: 10%;
}

header h1
{
    font-family: cac_champagneregular ,Arial, serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

titreGroupe
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}


titreEntete
{
    font-family: Dayrom, serif;
    font-size: 12px;
    margin-top: 0px;
    font-weight: normal;
}
/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

.modifPageAccueil{

border:solid 2px;
box-shadow:5px 5px 3px grey;
padding:10px 5px;

}

.textArea{
margin-top:10px;
width:80%;

}

.ajoutSerie{

border:solid 2px;
box-shadow:5px 5px 3px grey;
padding:10px 5px;
width:25%;

}

.ajoutSaison{

border:solid 2px;
box-shadow:5px 5px 3px grey;
padding:10px 5px;
width:25%;
position: relative;


}

.ajoutEpisode{

border:solid 2px;
box-shadow:5px 5px 3px grey;
padding:10px 5px;
width:25%;
position: relative;


}


.ajoutActeurGenre{

border:solid 2px;
box-shadow:5px 5px 3px grey;
padding:10px 5px;
position: relative;


}

#AjoutElement{
	display:table;
	border-collapse: separate;
  border-spacing: 10px;

  
  
	
}

.elementTableau{
	display: table-cell;
	margin-left: 6px;
}

textarea {
	resize: none;
}


/* Corps */



