/* Corps */

.menuRecherche{
 	display: table;
	border-collapse: separate;
	margin-top:30px;
	border-spacing: 20px;
}

.separateur{
	background: url('../images/separateur.png') repeat-x bottom;
	height:2px;

}

.btnRecherche{
	display: table-cell;
	font-family: Arial,sans-serif;
    font-size: 1em;
    width: 200px;
    height: 43px;
    text-align: center;
    color: #999;
    background: #444;
	background: linear-gradient( #555, #2C2C2C);
	border-radius:8px;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	padding-left:0;
    box-shadow: 1px 1px 10px black inset, 
                0 1px 0 rgba( 255, 255, 255, 0.4);
}

.btnRecherche:hover{
	color: #222;
    background: #555;
    background: linear-gradient( #777, #333);
}

.btnrecherche:active{
	color: #000;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}


#DivRecherche{
	min-width: 950px;
}

h2
{
    font-family: cac_champagneregular ,Arial, serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

h3
{
    font-family: cac_champagneregular ,Arial, serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 0 10px;
}



.resultat{
margin-top: 10px;
height: 230px;
padding:10px 5px;
border: solid 1px;
border-radius:5px;
box-shadow: 5px 5px 5px black;
}

.resultat img{
float: left;
border: solid 1px gray;
border-radius:3px;
height: 207px;
}

.information {
	margin-top: 10px;
margin-left: 200px
}

